<div class="section" id="Archive">
    <h2 class="center"><%= __(theme.archive_title) %></h2>
    <div class="post-list">
        <% var year = 0; %>
        <% var isChanged = false; %>
        <% page.posts.each(function(post) { %>
        <% var postYear = date(post.date, 'YYYY') - 0; %>
        <% isChanged = year !== postYear %>
        <% year = isChanged ? postYear : year %>
        <% if (isChanged) { %>
        <h4><%= year %></h4>
        <% } %>
        <p class="post-title"><span><%= full_date(post.date, 'll') %></span><a href="<%= url_for(post.path) %>"><%= (post.title == "" ? "no-title" : post.title) %></a></p>
        <% }); %>
    </div>
</div>