<div class="section" id="Search">
	<div class="section_content">
		<h3>
		<%= __(theme.search_title) %>
		<br>
		<%= __(theme.search_subtitle) %>
		</h3>
		<div id="search-content" class="search-content-modal unexpanded">
			<div id="search-view">
				<div class="search-info box">
					<input type="text" id="search-input" placeholder="<%= __(theme.search_placeholder) %>" <% if (config.search == null) { %>onkeyup="searchInputOnKeyUp()"<% } %>>
					<div class="magnifying-glass" id="search-button" <% if (config.search == null) { %>onclick="searchInSite(event)"<% } %>>
						<svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 500 500">
						<path fill="none" stroke="#fff" stroke-width="36" stroke-linecap="round" d="m280,278a153,153 0 1,0-2,2l170,170m-91-117 110,110-26,26-110-110"></path>
					</svg>
				</div>
			</div>
			<div class="modal" id="search-result" style="display:none">
				<h2 id="search-result-title">Found 0 match(es):</h2>
				<ul id="search-result-list">
				</ul>
				<span>
					<button onclick="dismissSearchResultModal()">×</button>
				</span>
			</div>
		</div>
	</div>
</div>
<% if (config.search != null) { %>
<%- js('js/jquery-3.1.1.min') %>
<%- js('js/search') %>
<script type="text/javascript">
var path = "<%= config.root+config.search.path %>";
searchFunc(path, 'search-input', 'search-result-list');
</script>
<% } else { %>
<%
var temp = "";
site.posts.each(function(post, index) {
temp += "::qa::lurn::qa::"+post.title+"::qa::lurn::qa::"+post.permalink+"::qa::lurn::qa::"+post.content+(index+1 == site.posts.length ? "::qa::lurn::qa::" : "");
});
%>
<%- js('js/lunr.min') %>
<script>
var content = lunr(function () {
this.field('title');
this.field('content');
this.ref('id');
})
	var postsAllText = (function () {/*<%= temp %>*/}).toString();
	var arr = postsAllText.split("::qa::lurn::qa::");
	for(var i = 1; i+2 <= arr.length - 3; i+=3) {
	content.add({
	id: Math.floor(i/3),
	title: arr[i],
	content: arr[i+2]
	});
	}
	function searchInSite() {
		var keyword = document.getElementById("search-input").value;
		var result = content.search(keyword);
		if (result.length == 0) {
			document.getElementById("search-result-title").innerHTML = "Found 0 match.";
		} else {
			document.getElementById("search-result-title").innerHTML = "Found "+result.length+" match(es):";
		}
		document.getElementById("search_result_list").innerHTML = "";
		for(var i = 0; i < result.length; i++) {
			document.getElementById("search-result-list").innerHTML += '<li><a href="'+arr[result[i].ref*3+2]+'">'+arr[result[i].ref*3+1]+'</a></li>';
		}
		document.getElementById("search-result").style.display = "block";
	}
	function searchInputOnKeyUp() {
		event.preventDefault();
	if (event.keyCode == 13) {
	searchInSite();
	}
	}
</script>
<% } %>
<script>
function dismissSearchResultModal() {
	document.getElementById("search-result").style.display = "none";
}
</script>
</div>